* {
  font-family: 'Roboto', sans-serif;
}

body, p {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(16px * 1.618);
  color: #e2e2e2;
}

h1 {
  color: white;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}

.bottom-link {
  font-size: 16px;
  font-weight: 400;
  color: #717eeb;
  text-decoration: none;
}

.bottom-link:hover, .bottom-link:focus {
  text-decoration: underline;
}

.filter-option {
  font-size: 20px;
}

.filter-option--active {
  color: #717eeb;
  font-weight: 500;
}

.filter-option--inactive {
  color: #757575;
  font-weight: 300;
}

.pl {
  font-size: 12px;
  font-weight: 500;
}

.pl--gain {
  color: #bcec37;
}

.pl--loss {
  color: #ea1c6b;
}

button, .button-text {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #717eeb;
}

.highlight {
  font-size: 20px;
  font-weight: 500;
}

.highlight--gain {
  color: #bcec37;
}

.highlight--loss {
  color: #ea1c6b;
}

table .new-items {
  font-weight: 900;
  color: #aff3ff;
}

.time-option {
  color: #c4c4c4;
  font-weight: 200;
  font-size: 16px;
  text-transform: capitalize;
}

.time-option--selected {
  color: #717eeb;
  font-weight: 900;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  padding: 0px 16px;
}

@media screen and (min-width: 992px) {
  main {
    margin-left: 80px;
    padding: 16px 48px;
  }
}

main::after {
  content: "";
  display: block;
  min-height: 40px;
}

.border-button {
  width: 100%;
  padding: 16px;
  background: #000421;
  border: 1px solid #717eeb;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.border-button:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.nav-link {
  display: inline-block;
  width: 54px;
  height: 54px;
  display: -ms-inline-grid;
  display: inline-grid;
  place-content: center;
}

.nav-link .nav-icon {
  height: 29px;
  width: auto;
  stroke: #c4c4c4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
}

.nav-link:hover .nav-icon {
  stroke: #fff;
}

.nav-link--active .nav-icon {
  stroke: #717eeb;
}

.nav-link--active:hover .nav-icon {
  stroke: #717eeb;
}

.main-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  background-color: #0f0f2f;
  padding: 0px 16px;
}

@media screen and (min-width: 992px) {
  .main-nav {
    top: 0;
    width: 80px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 72px;
  }
  .main-nav .nav-link {
    margin-bottom: 40px;
  }
}

.table-section {
  margin: 56px 0px;
}

.table-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.table-section__header h2 {
  margin: 0;
}

.overview-table {
  width: 100%;
}

.overview-table thead, .overview-table thead tr {
  display: block;
  max-height: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.overview-table .table-head {
  text-align: left;
}

.overview-table .table-head--invisible {
  display: inline-block;
  max-height: 0px;
  overflow: hidden;
}

.overview-table .table-row td {
  padding: 8px 0px;
}

.overview-table .table-row .table-left span {
  display: inline-block;
  margin-right: 8px;
}

.overview-table .table-row .table-right {
  text-align: right;
}

.overview-table tfoot button {
  margin-top: 16px;
}

.graph-container {
  position: relative;
  padding-top: 62px;
}

.graph-container .graph-header {
  position: absolute;
  top: 0;
}

.graph-container .graph-header .graph-title {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
}

.graph-container .indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.graph-container .indicators .indicator {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 8px;
  background: #757575;
}

.graph-container .indicators .indicator--active {
  background: #717eeb;
}

.time-period-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.time-period-selector .time-option {
  background: none;
  border: none;
}

body {
  background: #000421;
  margin: 0px;
}

span {
  display: block;
}
/*# sourceMappingURL=main.css.map */